
<div fxLayout="column" fxFlexOffset="3" fxFlex="100">
  <div class="search" fxLayout="row" fxFlexOffset ="5" fxFlex="100">
    <mat-form-field appearance="fill" fxFlex="grow">
      <label style="font-weight:bold;" for="title">Search</label>
      <input  id="title" matInput (keyup)="applyFilter($event)" fxFlex="grow">
    </mat-form-field>
  </div>
  <div class="filter" fxLayout="row" fxFlexOffset ="2" fxFlex="100" fxLayoutGap="5">
    <button class="filterButton" (click)="getAll()" mat-raised-button style="background-color:bisque;">All </button>
    <button class="filterButton" (click)="getAsus()" mat-raised-button style="background-color:bisque">3 to 6</button>
    <button class="filterButton" (click)="getHp()" mat-raised-button style="background-color:bisque">6 to 10</button>
    
  </div>
  <app-product-card fxFlex="100" [products] = "filteredProducts" fxLayoutOffset = "10"></app-product-card>
</div>
